## F-Scoreで評価する

各効用関数ごと，有用性を評価し比べるためにF値という指標を用いる．\
ここでは，
1. True-Negative : 出力「間に合わない」→本当に間に合わない
2. False-Negative: 出力「間に合わない」→本当は間に合う
3. True-Positive : 出力「間に合う」→本当に間に合う
4. False-Positive: 出力「間に合う」→本当は間に合わない

本研究では，間に合わないはずのところに間に合うと出力されたために，悲しい思いをすることを防いでおきたいため，FPが小さくなっていて欲しい．\
したがって，適合率(Precision)を大きくしたい．\
この際，βという実整数係数を用いて，適合率を再現率より重視して出力したい．\
βの値は，よく0.5を用いられるようであるが，{0.1, 0.2, 0.3, 0.4, 0.5, 1.0}で出力させてみる．

### 前提条件

In [1]:
# モジュールの導入
import numpy as np
from scipy.special import lambertw as LW
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import axes3d
import statistics
import pandas as pd

In [2]:
# 重みづけの変数β
beta = [0.01, 0.05, 0.1, 0.2, 0.3, 0.4, 0.5, 1.0]

In [3]:
# F値を保存するためのテキストファイルの宣言
path_w_1 = 'f_score_1_severe2.txt'
"""
path_w_2 = 'f_score_2_severe.txt'
path_w_3 = 'f_score_3_severe.txt'
path_w_4 = 'f_score_4_severe.txt'
path_w_5 = 'f_score_5_severe.txt'
path_w_6 = 'f_score_6_severe.txt'
path_w_7 = 'f_score_7_severe.txt'
path_w_8 = 'f_score_8_severe.txt'
path_w_9 = 'f_score_9_severe.txt'
"""
path_w_10 = 'f_score_10_severe2.txt'

### 効用関数1：1

In [4]:
run ./utility_1_1_makef.ipynb

done

In [5]:
pd.DataFrame(data=list_utility_1, index=index1, columns=columns1)

,"(16.0, 0, 17)","(16.666666666666668, 0, 17)","(17.333333333333332, 0, 17)","(18.0, 0, 17)","(18.666666666666668, 0, 17)","(19.333333333333332, 0, 17)","(20.666666666666668, 0, 17)","(21.333333333333332, 0, 17)","(22.0, 0, 17)","(22.666666666666668, 0, 17)","(23.333333333333332, 0, 17)","(24.0, 0, 17)"
eps_z= 0.1,"(3252, 6748)","(3242, 6758)","(3219, 6781)","(3200, 6800)","(3173, 6827)","(3158, 6842)","(3114, 6886)","(3099, 6901)","(3080, 6920)","(3056, 6944)","(3037, 6963)","(3024, 6976)"
eps_z= 0.2,"(4184, 5816)","(4125, 5875)","(4065, 5935)","(3998, 6002)","(3924, 6076)","(3848, 6152)","(3714, 6286)","(3644, 6356)","(3584, 6416)","(3519, 6481)","(3452, 6548)","(3386, 6614)"
eps_z= 0.6931471805599453,"(6549, 3451)","(6248, 3752)","(5938, 4062)","(5620, 4380)","(5271, 4729)","(4941, 5059)","(4250, 5750)","(3941, 6059)","(3634, 6366)","(3311, 6689)","(3036, 6964)","(2799, 7201)"
eps_z= 1.3862943611198906,"(8150, 1850)","(7757, 2243)","(7262, 2738)","(6714, 3286)","(6095, 3905)","(5421, 4579)","(4068, 5932)","(3425, 6575)","(2889, 7111)","(2378, 7622)","(1940, 8060)","(1565, 8435)"
eps_z= 3.0,"(9621, 379)","(9346, 654)","(8955, 1045)","(8388, 1612)","(7511, 2489)","(6274, 3726)","(3394, 6606)","(2272, 7728)","(1440, 8560)","(945, 9055)","(595, 9405)","(372, 9628)"
eps_z= 4,"(9850, 150)","(9724, 276)","(9460, 540)","(8966, 1034)","(8141, 1859)","(6742, 3258)","(3013, 6987)","(1710, 8290)","(954, 9046)","(505, 9495)","(283, 9717)","(140, 9860)"
eps_z= 10,"(10000, 0)","(9999, 1)","(9994, 6)","(9950, 50)","(9728, 272)","(8620, 1380)","(1269, 8731)","(286, 9714)","(50, 9950)","(13, 9987)","(2, 9998)","(1, 9999)"
eps_z= 40,"(10000, 0)","(10000, 0)","(10000, 0)","(10000, 0)","(10000, 0)","(9994, 6)","(13, 9987)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [6]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 6:
            TP = TP + list_utility_1[i][j][0] 
            FN = FN + list_utility_1[i][j][1]
        elif j >= 6:
            FP = FP + list_utility_1[i][j][0]
            TN = TN + list_utility_1[i][j][1]
    T_Positive.append(TP/(Num*6))
    T_Negative.append(TN/(Num*6))
    F_Positive.append(FP/(Num*6))
    F_Negative.append(FN/(Num*6))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_1, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:2

In [21]:
run ./utility_2_1_makef.ipynb

done

In [22]:
pd.DataFrame(data=list_utility_2, index=index1, columns=columns1)

,"(16.0, 0, 17)","(16.666666666666668, 0, 17)","(17.333333333333332, 0, 17)","(18.0, 0, 17)","(18.666666666666668, 0, 17)","(19.333333333333332, 0, 17)","(20.666666666666668, 0, 17)","(21.333333333333332, 0, 17)","(22.0, 0, 17)","(22.666666666666668, 0, 17)","(23.333333333333332, 0, 17)","(24.0, 0, 17)"
eps_z= 0.1,"(2186, 7814)","(2165, 7835)","(2156, 7844)","(2155, 7845)","(2145, 7855)","(2127, 7873)","(2105, 7895)","(2089, 7911)","(2071, 7929)","(2058, 7942)","(2033, 7967)","(2023, 7977)"
eps_z= 0.2,"(2860, 7140)","(2818, 7182)","(2768, 7232)","(2725, 7275)","(2670, 7330)","(2630, 7370)","(2535, 7465)","(2490, 7510)","(2452, 7548)","(2402, 7598)","(2349, 7651)","(2301, 7699)"
eps_z= 0.6931471805599453,"(4638, 5362)","(4409, 5591)","(4186, 5814)","(3941, 6059)","(3700, 6300)","(3423, 6577)","(2909, 7091)","(2715, 7285)","(2475, 7525)","(2266, 7734)","(2077, 7923)","(1891, 8109)"
eps_z= 1.3862943611198906,"(6248, 3752)","(5785, 4215)","(5325, 4675)","(4807, 5193)","(4327, 5673)","(3832, 6168)","(2813, 7187)","(2351, 7649)","(1974, 8026)","(1612, 8388)","(1328, 8672)","(1061, 8939)"
eps_z= 3.0,"(8318, 1682)","(7874, 2126)","(7234, 2766)","(6544, 3456)","(5548, 4452)","(4477, 5523)","(2334, 7666)","(1546, 8454)","(983, 9017)","(617, 9383)","(406, 9594)","(241, 9759)"
eps_z= 10,"(9942, 58)","(9865, 135)","(9744, 256)","(9428, 572)","(8589, 1411)","(6802, 3198)","(847, 9153)","(176, 9824)","(40, 9960)","(5, 9995)","(1, 9999)","(0, 10000)"
eps_z= 40,"(10000, 0)","(10000, 0)","(10000, 0)","(10000, 0)","(9986, 14)","(9745, 255)","(5, 9995)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [23]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 6:
            TP = TP + list_utility_2[i][j][0]
            FN = FN + list_utility_2[i][j][1]
        elif j >= 6:
            FP = FP + list_utility_2[i][j][0]
            TN = TN + list_utility_2[i][j][1]
    T_Positive.append(TP/(Num*12))
    T_Negative.append(TN/(Num*12))
    F_Positive.append(FP/(Num*12))
    F_Negative.append(FN/(Num*12))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_2, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:3

In [24]:
run ./utility_3_1_makef.ipynb

done

In [25]:
pd.DataFrame(data=list_utility_3, index=index1, columns=columns1)

,"(16.0, 0, 17)","(16.666666666666668, 0, 17)","(17.333333333333332, 0, 17)","(18.0, 0, 17)","(18.666666666666668, 0, 17)","(19.333333333333332, 0, 17)","(20.666666666666668, 0, 17)","(21.333333333333332, 0, 17)","(22.0, 0, 17)","(22.666666666666668, 0, 17)","(23.333333333333332, 0, 17)","(24.0, 0, 17)"
eps_z= 0.1,"(1583, 8417)","(1578, 8422)","(1572, 8428)","(1561, 8439)","(1550, 8450)","(1541, 8459)","(1514, 8486)","(1508, 8492)","(1501, 8499)","(1495, 8505)","(1482, 8518)","(1468, 8532)"
eps_z= 0.2,"(2079, 7921)","(2036, 7964)","(2018, 7982)","(1984, 8016)","(1965, 8035)","(1926, 8074)","(1851, 8149)","(1812, 8188)","(1779, 8221)","(1751, 8249)","(1713, 8287)","(1676, 8324)"
eps_z= 0.6931471805599453,"(3618, 6382)","(3412, 6588)","(3197, 6803)","(2984, 7016)","(2758, 7242)","(2539, 7461)","(2193, 7807)","(2011, 7989)","(1845, 8155)","(1688, 8312)","(1553, 8447)","(1416, 8584)"
eps_z= 1.3862943611198906,"(4961, 5039)","(4564, 5436)","(4189, 5811)","(3754, 6246)","(3332, 6668)","(2865, 7135)","(2094, 7906)","(1753, 8247)","(1476, 8524)","(1190, 8810)","(968, 9032)","(796, 9204)"
eps_z= 3.0,"(7024, 2976)","(6503, 3497)","(5879, 4121)","(5195, 4805)","(4371, 5629)","(3456, 6544)","(1738, 8262)","(1150, 8850)","(733, 9267)","(478, 9522)","(298, 9702)","(178, 9822)"
eps_z= 10,"(9731, 269)","(9512, 488)","(9147, 853)","(8472, 1528)","(7381, 2619)","(5446, 4554)","(658, 9342)","(121, 9879)","(28, 9972)","(6, 9994)","(1, 9999)","(0, 10000)"
eps_z= 40,"(10000, 0)","(10000, 0)","(9998, 2)","(9991, 9)","(9903, 97)","(9149, 851)","(6, 9994)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [26]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 6:
            TP = TP + list_utility_3[i][j][0]
            FN = FN + list_utility_3[i][j][1]
        elif j >= 6:
            FP = FP + list_utility_3[i][j][0]
            TN = TN + list_utility_3[i][j][1]
    T_Positive.append(TP/(Num*12))
    T_Negative.append(TN/(Num*12))
    F_Positive.append(FP/(Num*12))
    F_Negative.append(FN/(Num*12))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_3, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:4

In [27]:
run ./utility_4_1_makef.ipynb

done

In [28]:
pd.DataFrame(data=list_utility_4, index=index1, columns=columns1)

,"(16.0, 0, 17)","(16.666666666666668, 0, 17)","(17.333333333333332, 0, 17)","(18.0, 0, 17)","(18.666666666666668, 0, 17)","(19.333333333333332, 0, 17)","(20.666666666666668, 0, 17)","(21.333333333333332, 0, 17)","(22.0, 0, 17)","(22.666666666666668, 0, 17)","(23.333333333333332, 0, 17)","(24.0, 0, 17)"
eps_z= 0.1,"(1359, 8641)","(1353, 8647)","(1345, 8655)","(1343, 8657)","(1332, 8668)","(1328, 8672)","(1302, 8698)","(1295, 8705)","(1285, 8715)","(1270, 8730)","(1257, 8743)","(1246, 8754)"
eps_z= 0.2,"(1772, 8228)","(1735, 8265)","(1710, 8290)","(1678, 8322)","(1640, 8360)","(1607, 8393)","(1549, 8451)","(1523, 8477)","(1490, 8510)","(1468, 8532)","(1436, 8564)","(1402, 8598)"
eps_z= 0.6931471805599453,"(3056, 6944)","(2888, 7112)","(2717, 7283)","(2531, 7469)","(2380, 7620)","(2186, 7814)","(1856, 8144)","(1687, 8313)","(1540, 8460)","(1416, 8584)","(1293, 8707)","(1169, 8831)"
eps_z= 1.3862943611198906,"(4191, 5809)","(3883, 6117)","(3532, 6468)","(3183, 6817)","(2812, 7188)","(2460, 7540)","(1747, 8253)","(1467, 8533)","(1211, 8789)","(1000, 9000)","(824, 9176)","(690, 9310)"
eps_z= 3.0,"(6143, 3857)","(5629, 4371)","(5060, 4940)","(4396, 5604)","(3701, 6299)","(2924, 7076)","(1458, 8542)","(938, 9062)","(631, 9369)","(375, 9625)","(232, 9768)","(153, 9847)"
eps_z= 10,"(9354, 646)","(9029, 971)","(8520, 1480)","(7677, 2323)","(6503, 3497)","(4645, 5355)","(543, 9457)","(108, 9892)","(17, 9983)","(2, 9998)","(0, 10000)","(0, 10000)"
eps_z= 40,"(9999, 1)","(9992, 8)","(9987, 13)","(9935, 65)","(9714, 286)","(8521, 1479)","(2, 9998)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [29]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 6:
            TP = TP + list_utility_4[i][j][0]
            FN = FN + list_utility_4[i][j][1]
        elif j >= 6:
            FP = FP + list_utility_4[i][j][0]
            TN = TN + list_utility_4[i][j][1]
    T_Positive.append(TP/(Num*12))
    T_Negative.append(TN/(Num*12))
    F_Positive.append(FP/(Num*12))
    F_Negative.append(FN/(Num*12))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_4, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:5

In [30]:
run ./utility_5_1_makef.ipynb

done

In [31]:
pd.DataFrame(data=list_utility_5, index=index1, columns=columns1)

,"(16.0, 0, 17)","(16.666666666666668, 0, 17)","(17.333333333333332, 0, 17)","(18.0, 0, 17)","(18.666666666666668, 0, 17)","(19.333333333333332, 0, 17)","(20.666666666666668, 0, 17)","(21.333333333333332, 0, 17)","(22.0, 0, 17)","(22.666666666666668, 0, 17)","(23.333333333333332, 0, 17)","(24.0, 0, 17)"
eps_z= 0.1,"(1178, 8822)","(1169, 8831)","(1161, 8839)","(1154, 8846)","(1148, 8852)","(1148, 8852)","(1124, 8876)","(1121, 8879)","(1116, 8884)","(1107, 8893)","(1099, 8901)","(1100, 8900)"
eps_z= 0.2,"(1496, 8504)","(1470, 8530)","(1447, 8553)","(1422, 8578)","(1393, 8607)","(1364, 8636)","(1316, 8684)","(1293, 8707)","(1275, 8725)","(1255, 8745)","(1233, 8767)","(1209, 8791)"
eps_z= 0.6931471805599453,"(2521, 7479)","(2372, 7628)","(2251, 7749)","(2106, 7894)","(1967, 8033)","(1811, 8189)","(1550, 8450)","(1428, 8572)","(1307, 8693)","(1200, 8800)","(1086, 8914)","(986, 9014)"
eps_z= 1.3862943611198906,"(3598, 6402)","(3283, 6717)","(2964, 7036)","(2629, 7371)","(2334, 7666)","(2052, 7948)","(1485, 8515)","(1246, 8754)","(1030, 8970)","(834, 9166)","(656, 9344)","(531, 9469)"
eps_z= 3.0,"(5388, 4612)","(4886, 5114)","(4359, 5641)","(3788, 6212)","(3105, 6895)","(2410, 7590)","(1234, 8766)","(799, 9201)","(500, 9500)","(310, 9690)","(180, 9820)","(111, 9889)"
eps_z= 10,"(8861, 1139)","(8417, 1583)","(7778, 2222)","(6919, 3081)","(5692, 4308)","(3990, 6010)","(434, 9566)","(80, 9920)","(19, 9981)","(5, 9995)","(1, 9999)","(0, 10000)"
eps_z= 40,"(9998, 2)","(9990, 10)","(9959, 41)","(9847, 153)","(9409, 591)","(7784, 2216)","(5, 9995)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [32]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 6:
            TP = TP + list_utility_5[i][j][0]
            FN = FN + list_utility_5[i][j][1]
        elif j >= 6:
            FP = FP + list_utility_5[i][j][0]
            TN = TN + list_utility_5[i][j][1]
    T_Positive.append(TP/(Num*12))
    T_Negative.append(TN/(Num*12))
    F_Positive.append(FP/(Num*12))
    F_Negative.append(FN/(Num*12))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_5, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:6

In [33]:
run ./utility_6_1_makef.ipynb

done

In [34]:
pd.DataFrame(data=list_utility_6, index=index1, columns=columns1)

,"(16.0, 0, 17)","(16.666666666666668, 0, 17)","(17.333333333333332, 0, 17)","(18.0, 0, 17)","(18.666666666666668, 0, 17)","(19.333333333333332, 0, 17)","(20.666666666666668, 0, 17)","(21.333333333333332, 0, 17)","(22.0, 0, 17)","(22.666666666666668, 0, 17)","(23.333333333333332, 0, 17)","(24.0, 0, 17)"
eps_z= 0.1,"(1018, 8982)","(1014, 8986)","(1008, 8992)","(1003, 8997)","(990, 9010)","(978, 9022)","(962, 9038)","(958, 9042)","(945, 9055)","(940, 9060)","(938, 9062)","(932, 9068)"
eps_z= 0.2,"(1317, 8683)","(1297, 8703)","(1276, 8724)","(1253, 8747)","(1226, 8774)","(1210, 8790)","(1167, 8833)","(1140, 8860)","(1124, 8876)","(1096, 8904)","(1074, 8926)","(1055, 8945)"
eps_z= 0.6931471805599453,"(2203, 7797)","(2085, 7915)","(1976, 8024)","(1836, 8164)","(1716, 8284)","(1604, 8396)","(1366, 8634)","(1253, 8747)","(1158, 8842)","(1055, 8945)","(955, 9045)","(871, 9129)"
eps_z= 1.3862943611198906,"(3061, 6939)","(2805, 7195)","(2537, 7463)","(2294, 7706)","(2049, 7951)","(1793, 8207)","(1296, 8704)","(1099, 8901)","(907, 9093)","(735, 9265)","(613, 9387)","(473, 9527)"
eps_z= 3.0,"(4724, 5276)","(4255, 5745)","(3773, 6227)","(3220, 6780)","(2659, 7341)","(2125, 7875)","(1086, 8914)","(703, 9297)","(435, 9565)","(267, 9733)","(170, 9830)","(101, 9899)"
eps_z= 10,"(8437, 1563)","(7888, 2112)","(7147, 2853)","(6235, 3765)","(5014, 4986)","(3446, 6554)","(369, 9631)","(71, 9929)","(17, 9983)","(4, 9996)","(2, 9998)","(0, 10000)"
eps_z= 40,"(9988, 12)","(9965, 35)","(9901, 99)","(9709, 291)","(9094, 906)","(7150, 2850)","(4, 9996)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [35]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 6:
            TP = TP + list_utility_6[i][j][0]
            FN = FN + list_utility_6[i][j][1]
        elif j >= 6:
            FP = FP + list_utility_6[i][j][0]
            TN = TN + list_utility_6[i][j][1]
    T_Positive.append(TP/(Num*12))
    T_Negative.append(TN/(Num*12))
    F_Positive.append(FP/(Num*12))
    F_Negative.append(FN/(Num*12))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_6, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:7

In [36]:
run ./utility_7_1_makef.ipynb

done

In [37]:
pd.DataFrame(data=list_utility_7, index=index1, columns=columns1)

,"(16.0, 0, 17)","(16.666666666666668, 0, 17)","(17.333333333333332, 0, 17)","(18.0, 0, 17)","(18.666666666666668, 0, 17)","(19.333333333333332, 0, 17)","(20.666666666666668, 0, 17)","(21.333333333333332, 0, 17)","(22.0, 0, 17)","(22.666666666666668, 0, 17)","(23.333333333333332, 0, 17)","(24.0, 0, 17)"
eps_z= 0.1,"(858, 9142)","(857, 9143)","(849, 9151)","(846, 9154)","(844, 9156)","(838, 9162)","(833, 9167)","(826, 9174)","(821, 9179)","(812, 9188)","(809, 9191)","(803, 9197)"
eps_z= 0.2,"(1108, 8892)","(1091, 8909)","(1072, 8928)","(1055, 8945)","(1042, 8958)","(1024, 8976)","(991, 9009)","(975, 9025)","(959, 9041)","(939, 9061)","(929, 9071)","(908, 9092)"
eps_z= 0.6931471805599453,"(1932, 8068)","(1816, 8184)","(1715, 8285)","(1617, 8383)","(1503, 8497)","(1375, 8625)","(1164, 8836)","(1074, 8926)","(988, 9012)","(898, 9102)","(821, 9179)","(738, 9262)"
eps_z= 1.3862943611198906,"(2749, 7251)","(2501, 7499)","(2264, 7736)","(2017, 7983)","(1774, 8226)","(1548, 8452)","(1109, 8891)","(928, 9072)","(767, 9233)","(650, 9350)","(515, 9485)","(423, 9577)"
eps_z= 3.0,"(4235, 5765)","(3819, 6181)","(3378, 6622)","(2904, 7096)","(2380, 7620)","(1838, 8162)","(911, 9089)","(621, 9379)","(388, 9612)","(249, 9751)","(148, 9852)","(91, 9909)"
eps_z= 10,"(7865, 2135)","(7334, 2666)","(6629, 3371)","(5710, 4290)","(4531, 5469)","(3092, 6908)","(341, 9659)","(65, 9935)","(10, 9990)","(0, 10000)","(0, 10000)","(0, 10000)"
eps_z= 40,"(9974, 26)","(9922, 78)","(9797, 203)","(9475, 525)","(8669, 1331)","(6632, 3368)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [38]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 6:
            TP = TP + list_utility_7[i][j][0]
            FN = FN + list_utility_7[i][j][1]
        elif j >= 6:
            FP = FP + list_utility_7[i][j][0]
            TN = TN + list_utility_7[i][j][1]
    T_Positive.append(TP/(Num*12))
    T_Negative.append(TN/(Num*12))
    F_Positive.append(FP/(Num*12))
    F_Negative.append(FN/(Num*12))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_7, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:8

In [39]:
run ./utility_8_1_makef.ipynb

done

In [40]:
pd.DataFrame(data=list_utility_8, index=index1, columns=columns1)

,"(16.0, 0, 17)","(16.666666666666668, 0, 17)","(17.333333333333332, 0, 17)","(18.0, 0, 17)","(18.666666666666668, 0, 17)","(19.333333333333332, 0, 17)","(20.666666666666668, 0, 17)","(21.333333333333332, 0, 17)","(22.0, 0, 17)","(22.666666666666668, 0, 17)","(23.333333333333332, 0, 17)","(24.0, 0, 17)"
eps_z= 0.1,"(741, 9259)","(734, 9266)","(728, 9272)","(723, 9277)","(718, 9282)","(713, 9287)","(703, 9297)","(697, 9303)","(693, 9307)","(684, 9316)","(683, 9317)","(677, 9323)"
eps_z= 0.2,"(981, 9019)","(964, 9036)","(950, 9050)","(936, 9064)","(924, 9076)","(914, 9086)","(878, 9122)","(858, 9142)","(843, 9157)","(820, 9180)","(805, 9195)","(790, 9210)"
eps_z= 0.6931471805599453,"(1723, 8277)","(1619, 8381)","(1517, 8483)","(1419, 8581)","(1328, 8672)","(1222, 8778)","(1048, 8952)","(976, 9024)","(897, 9103)","(819, 9181)","(731, 9269)","(654, 9346)"
eps_z= 1.3862943611198906,"(2449, 7551)","(2211, 7789)","(1995, 8005)","(1773, 8227)","(1586, 8414)","(1374, 8626)","(1023, 8977)","(859, 9141)","(693, 9307)","(564, 9436)","(461, 9539)","(367, 9633)"
eps_z= 3.0,"(3873, 6127)","(3472, 6528)","(3027, 6973)","(2589, 7411)","(2112, 7888)","(1634, 8366)","(847, 9153)","(540, 9460)","(336, 9664)","(193, 9807)","(124, 9876)","(86, 9914)"
eps_z= 10,"(7465, 2535)","(6887, 3113)","(6189, 3811)","(5287, 4713)","(4149, 5851)","(2756, 7244)","(288, 9712)","(64, 9936)","(11, 9989)","(3, 9997)","(1, 9999)","(1, 9999)"
eps_z= 40,"(9946, 54)","(9867, 133)","(9689, 311)","(9293, 707)","(8333, 1667)","(6192, 3808)","(3, 9997)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [41]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 6:
            TP = TP + list_utility_8[i][j][0]
            FN = FN + list_utility_8[i][j][1]
        elif j >= 6:
            FP = FP + list_utility_8[i][j][0]
            TN = TN + list_utility_8[i][j][1]
    T_Positive.append(TP/(Num*12))
    T_Negative.append(TN/(Num*12))
    F_Positive.append(FP/(Num*12))
    F_Negative.append(FN/(Num*12))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_8, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:9

In [42]:
run ./utility_9_1_makef.ipynb

done

In [43]:
pd.DataFrame(data=list_utility_9, index=index1, columns=columns1)

,"(16.0, 0, 17)","(16.666666666666668, 0, 17)","(17.333333333333332, 0, 17)","(18.0, 0, 17)","(18.666666666666668, 0, 17)","(19.333333333333332, 0, 17)","(20.666666666666668, 0, 17)","(21.333333333333332, 0, 17)","(22.0, 0, 17)","(22.666666666666668, 0, 17)","(23.333333333333332, 0, 17)","(24.0, 0, 17)"
eps_z= 0.1,"(671, 9329)","(670, 9330)","(670, 9330)","(665, 9335)","(659, 9341)","(660, 9340)","(651, 9349)","(648, 9352)","(641, 9359)","(634, 9366)","(629, 9371)","(624, 9376)"
eps_z= 0.2,"(914, 9086)","(897, 9103)","(873, 9127)","(856, 9144)","(845, 9155)","(828, 9172)","(795, 9205)","(782, 9218)","(768, 9232)","(758, 9242)","(741, 9259)","(728, 9272)"
eps_z= 0.6931471805599453,"(1588, 8412)","(1499, 8501)","(1398, 8602)","(1299, 8701)","(1204, 8796)","(1121, 8879)","(950, 9050)","(874, 9126)","(795, 9205)","(713, 9287)","(660, 9340)","(590, 9410)"
eps_z= 1.3862943611198906,"(2236, 7764)","(2048, 7952)","(1859, 8141)","(1653, 8347)","(1456, 8544)","(1252, 8748)","(907, 9093)","(742, 9258)","(609, 9391)","(493, 9507)","(408, 9592)","(324, 9676)"
eps_z= 3.0,"(3528, 6472)","(3161, 6839)","(2779, 7221)","(2354, 7646)","(1948, 8052)","(1524, 8476)","(736, 9264)","(468, 9532)","(283, 9717)","(183, 9817)","(99, 9901)","(60, 9940)"
eps_z= 10,"(7094, 2906)","(6476, 3524)","(5729, 4271)","(4809, 5191)","(3804, 6196)","(2517, 7483)","(244, 9756)","(45, 9955)","(3, 9997)","(1, 9999)","(1, 9999)","(0, 10000)"
eps_z= 40,"(9894, 106)","(9788, 212)","(9558, 442)","(9093, 907)","(8018, 1982)","(5731, 4269)","(1, 9999)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [44]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 6:
            TP = TP + list_utility_9[i][j][0]
            FN = FN + list_utility_9[i][j][1]
        elif j >= 6:
            FP = FP + list_utility_9[i][j][0]
            TN = TN + list_utility_9[i][j][1]
    T_Positive.append(TP/(Num*12))
    T_Negative.append(TN/(Num*12))
    F_Positive.append(FP/(Num*12))
    F_Negative.append(FN/(Num*12))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_9, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### 効用関数1:10

In [8]:
run ./utility_10_1_makef.ipynb

done

In [9]:
pd.DataFrame(data=list_utility_10, index=index1, columns=columns1)

,"(16.0, 0, 17)","(16.666666666666668, 0, 17)","(17.333333333333332, 0, 17)","(18.0, 0, 17)","(18.666666666666668, 0, 17)","(19.333333333333332, 0, 17)","(20.666666666666668, 0, 17)","(21.333333333333332, 0, 17)","(22.0, 0, 17)","(22.666666666666668, 0, 17)","(23.333333333333332, 0, 17)","(24.0, 0, 17)"
eps_z= 0.1,"(622, 9378)","(621, 9379)","(624, 9376)","(622, 9378)","(620, 9380)","(614, 9386)","(606, 9394)","(600, 9400)","(600, 9400)","(597, 9403)","(591, 9409)","(588, 9412)"
eps_z= 0.2,"(802, 9198)","(786, 9214)","(778, 9222)","(764, 9236)","(756, 9244)","(740, 9260)","(718, 9282)","(708, 9292)","(691, 9309)","(681, 9319)","(664, 9336)","(654, 9346)"
eps_z= 0.6931471805599453,"(1396, 8604)","(1319, 8681)","(1244, 8756)","(1153, 8847)","(1075, 8925)","(990, 9010)","(836, 9164)","(770, 9230)","(705, 9295)","(632, 9368)","(587, 9413)","(538, 9462)"
eps_z= 1.3862943611198906,"(2000, 8000)","(1825, 8175)","(1655, 8345)","(1473, 8527)","(1294, 8706)","(1117, 8883)","(808, 9192)","(658, 9342)","(561, 9439)","(457, 9543)","(377, 9623)","(306, 9694)"
eps_z= 3.0,"(3171, 6829)","(2823, 7177)","(2466, 7534)","(2106, 7894)","(1748, 8252)","(1350, 8650)","(655, 9345)","(432, 9568)","(291, 9709)","(185, 9815)","(110, 9890)","(65, 9935)"
eps_z= 4,"(3807, 6193)","(3389, 6611)","(2947, 7053)","(2470, 7530)","(2003, 7997)","(1480, 8520)","(584, 9416)","(332, 9668)","(188, 9812)","(91, 9909)","(47, 9953)","(30, 9970)"
eps_z= 10,"(6619, 3381)","(6007, 3993)","(5277, 4723)","(4418, 5582)","(3399, 6601)","(2249, 7751)","(261, 9739)","(48, 9952)","(11, 9989)","(2, 9998)","(0, 10000)","(0, 10000)"
eps_z= 40,"(9834, 166)","(9669, 331)","(9352, 648)","(8743, 1257)","(7589, 2411)","(5279, 4721)","(2, 9998)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [10]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 6:
            TP = TP + list_utility_10[i][j][0]
            FN = FN + list_utility_10[i][j][1]
        elif j >= 6:
            FP = FP + list_utility_10[i][j][0]
            TN = TN + list_utility_10[i][j][1]
    T_Positive.append(TP/(Num*6))
    T_Negative.append(TN/(Num*6))
    F_Positive.append(FP/(Num*6))
    F_Negative.append(FN/(Num*6))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_10, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

### Test Space

In [87]:
T_Positive

[0.0317375, 0.0469875, 0.1089375, 0.1728375, 0.2730875, 0.43555, 0.4979625]

In [88]:
F_Negative

[0.4682625, 0.4530125, 0.3910625, 0.3271625, 0.2269125, 0.06445, 0.0020375]

In [90]:
T_Negative

[0.4740125, 0.47315, 0.486025, 0.4943875, 0.49905, 0.5, 0.5]

In [91]:
F_Positive

[0.0259875, 0.02685, 0.013975, 0.0056125, 0.00095, 0.0, 0.0]

In [17]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 6:
            TP = TP + list_utility_1[i][j][0]
            FN = FN + list_utility_1[i][j][1]
        elif j >= 6:
            FP = FP + list_utility_1[i][j][0]
            TN = TN + list_utility_1[i][j][1]
    T_Positive.append(TP/(Num*12))
    T_Negative.append(TN/(Num*12))
    F_Positive.append(FP/(Num*12))
    F_Negative.append(FN/(Num*12))
    TN, FN, TP, FP = 0, 0, 0, 0
be_ = 0.05
i = 3
((1+be_**2) * T_Positive[i]) / ((1+be_**2)*T_Positive[i] + (be_**2)* F_Negative[i] + F_Positive[i])

0.7136706375895349