## 時刻にノイズをかけなかったらどうなるのかを検証する

In [1]:
# モジュールの導入
import numpy as np
from scipy.special import lambertw as LW
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import axes3d
import statistics
import pandas as pd

In [2]:
# 重みづけの変数β
beta = [1.0, 2.0, 5.0, 10.0, 100.0]

In [3]:
path_w_1 = 'f_score_1_NoNoiseT.txt'
path_w_10 = 'f_score_10_NoNoiseT.txt'

In [4]:
run ./utility_1_1_make_not.ipynb

done

In [5]:
pd.DataFrame(data=list_utility_1, index=index1, columns=columns1)

,"(16.0, 0, 17)","(16.666666666666668, 0, 17)","(17.333333333333332, 0, 17)","(18.0, 0, 17)","(18.666666666666668, 0, 17)","(19.333333333333332, 0, 17)","(20.666666666666668, 0, 17)","(21.333333333333332, 0, 17)","(22.0, 0, 17)","(22.666666666666668, 0, 17)","(23.333333333333332, 0, 17)","(24.0, 0, 17)"
eps_z= 0.1,"(2119, 7881)","(2056, 7944)","(2002, 7998)","(1952, 8048)","(1881, 8119)","(1832, 8168)","(1737, 8263)","(1686, 8314)","(1648, 8352)","(1605, 8395)","(1551, 8449)","(1506, 8494)"
eps_z= 0.2,"(4211, 5789)","(4046, 5954)","(3900, 6100)","(3759, 6241)","(3591, 6409)","(3410, 6590)","(3056, 6944)","(2878, 7122)","(2714, 7286)","(2571, 7429)","(2422, 7578)","(2279, 7721)"
eps_z= 0.6931471805599453,"(7858, 2142)","(7475, 2525)","(7070, 2930)","(6579, 3421)","(6002, 3998)","(5305, 4695)","(3849, 6151)","(3190, 6810)","(2663, 7337)","(2187, 7813)","(1795, 8205)","(1480, 8520)"
eps_z= 1.3862943611198906,"(9394, 606)","(9073, 927)","(8663, 1337)","(8072, 1928)","(7281, 2719)","(6251, 3749)","(3406, 6594)","(2346, 7654)","(1617, 8383)","(1061, 8939)","(699, 9301)","(452, 9548)"
eps_z= 3.0,"(9974, 26)","(9922, 78)","(9819, 181)","(9532, 468)","(8902, 1098)","(7512, 2488)","(2315, 7685)","(983, 9017)","(388, 9612)","(149, 9851)","(57, 9943)","(22, 9978)"
eps_z= 4,"(9997, 3)","(9986, 14)","(9954, 46)","(9824, 176)","(9385, 615)","(8088, 1912)","(1792, 8208)","(558, 9442)","(154, 9846)","(47, 9953)","(9, 9991)","(5, 9995)"
eps_z= 10,"(10000, 0)","(10000, 0)","(10000, 0)","(10000, 0)","(9986, 14)","(9672, 328)","(296, 9704)","(10, 9990)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"
eps_z= 40,"(10000, 0)","(10000, 0)","(10000, 0)","(10000, 0)","(10000, 0)","(10000, 0)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [6]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j < 6:
            TN = TN + list_utility_1[i][j][0]
            FP = FP + list_utility_1[i][j][1]
        elif j >= 6:
            TP = TP + list_utility_1[i][j][1] 
            FN = FN + list_utility_1[i][j][0]    
    T_Positive.append(TP/(Num*6))
    T_Negative.append(TN/(Num*6))
    F_Positive.append(FP/(Num*6))
    F_Negative.append(FN/(Num*6))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_1, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()

In [7]:
run ./utility_10_1_make_not.ipynb

done

In [8]:
pd.DataFrame(data=list_utility_10, index=index1, columns=columns1)

,"(16.0, 0, 17)","(16.666666666666668, 0, 17)","(17.333333333333332, 0, 17)","(18.0, 0, 17)","(18.666666666666668, 0, 17)","(19.333333333333332, 0, 17)","(20.666666666666668, 0, 17)","(21.333333333333332, 0, 17)","(22.0, 0, 17)","(22.666666666666668, 0, 17)","(23.333333333333332, 0, 17)","(24.0, 0, 17)"
eps_z= 0.1,"(2086, 7914)","(2034, 7966)","(1988, 8012)","(1934, 8066)","(1886, 8114)","(1829, 8171)","(1738, 8262)","(1697, 8303)","(1644, 8356)","(1593, 8407)","(1532, 8468)","(1499, 8501)"
eps_z= 0.2,"(4163, 5837)","(4006, 5994)","(3861, 6139)","(3706, 6294)","(3537, 6463)","(3375, 6625)","(3047, 6953)","(2878, 7122)","(2735, 7265)","(2581, 7419)","(2424, 7576)","(2291, 7709)"
eps_z= 0.6931471805599453,"(7903, 2097)","(7527, 2473)","(7058, 2942)","(6520, 3480)","(5928, 4072)","(5257, 4743)","(3880, 6120)","(3261, 6739)","(2667, 7333)","(2196, 7804)","(1814, 8186)","(1496, 8504)"
eps_z= 1.3862943611198906,"(9412, 588)","(9115, 885)","(8689, 1311)","(8129, 1871)","(7297, 2703)","(6188, 3812)","(3476, 6524)","(2382, 7618)","(1619, 8381)","(1092, 8908)","(720, 9280)","(468, 9532)"
eps_z= 3.0,"(9973, 27)","(9926, 74)","(9808, 192)","(9549, 451)","(8926, 1074)","(7561, 2439)","(2346, 7654)","(1013, 8987)","(404, 9596)","(167, 9833)","(67, 9933)","(25, 9975)"
eps_z= 4,"(9995, 5)","(9991, 9)","(9949, 51)","(9811, 189)","(9416, 584)","(8165, 1835)","(1810, 8190)","(567, 9433)","(169, 9831)","(45, 9955)","(17, 9983)","(4, 9996)"
eps_z= 10,"(10000, 0)","(10000, 0)","(10000, 0)","(10000, 0)","(9991, 9)","(9684, 316)","(309, 9691)","(17, 9983)","(1, 9999)","(0, 10000)","(0, 10000)","(0, 10000)"
eps_z= 40,"(10000, 0)","(10000, 0)","(10000, 0)","(10000, 0)","(10000, 0)","(10000, 0)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)","(0, 10000)"

In [9]:
TN, FN, TP, FP = 0, 0, 0, 0
T_Negative = []
F_Negative = []
T_Positive = []
F_Positive = []

for i in range(len(epsilon_z)):
    for j in range(len(POI_data)):
        if j >= 6:
            TP = TP + list_utility_10[i][j][1] 
            FN = FN + list_utility_10[i][j][0]
        elif j < 6:
            FP = FP + list_utility_10[i][j][1]
            TN = TN + list_utility_10[i][j][0]
    T_Positive.append(TP/(Num*6))
    T_Negative.append(TN/(Num*6))
    F_Positive.append(FP/(Num*6))
    F_Negative.append(FN/(Num*6))
    TN, FN, TP, FP = 0, 0, 0, 0

for i in range(len(epsilon_z)):
    with open(path_w_10, 'a') as f:
        f.write("\neps = ")
        f.write(str(epsilon_z[i]*2))
        for j in range(len(beta)):
            f.write("\nbeta = ")
            f.write(str(beta[j]))
            f.write(", F score is ")
            f.write(str(((1+beta[j]**2) * T_Positive[i]) / ((1+beta[j]**2)*T_Positive[i] + (beta[j]**2)* F_Negative[i] + F_Positive[i])))
            
f.close()